*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body p{
    margin-bottom: 3px;
}
body .page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body .page .list{
    width: 17%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body .page .list ul li{
    list-style: none;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bolder;
}
body .page .list ul li a{
    text-decoration: none;
    color: #ffffff;
}
body .page .list ul li:hover{
    transform: scale(1.2);
}
body .page .info{
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body .page .info button{
    margin-top: 30px;
    outline: none;
    border: 0;
    background-color: #2b446a;
    color: #ffffff;
    width: 180px;
    height: 35px;
    border-radius: 2rem;
    font-size: 15px;
    font-weight: bold;
}
body .page .info button:hover{
    background: #ffffff;
    color: #2b446a;
    border: 2px #2b446a solid;
}
body .page .info .bm{
    display: none;
}
body .model_container{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000061;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
body .model_container.show{
    opacity: 1;
    pointer-events: auto;
}
body .model_container .model{
    background-color: #ffffff;
    width: auto;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}
body .model_container .model i{
    transition: transform .3s;
}
body .model_container .model i:hover{
    transform: rotate(180deg);
}
body .model_container .model img{
    filter: grayscale(50%);
    cursor: pointer;
}
body .model_container .model img:hover{
    filter: grayscale(0);
}

body .model_containerh{
    overflow: scroll;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000061;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
body .model_containerh.show{
    opacity: 1;
    pointer-events: auto;
}
body .model_containerh .modelh{
    width: 50%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}
body .model_containerh .modelh .ch{
    display: flex;
    flex-direction: row;
}
body .model_containerh .modelh i{
    transition: transform .3s;
}
body .model_containerh .modelh i:hover{
    transform: rotate(180deg);
}

body .model_container14{
    overflow: scroll;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000061;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
body .model_container14.show{
    opacity: 1;
    pointer-events: auto;
}
body .model_container14 .model14{
    width: 50%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}
body .model_container14 .model14 .c141{
    display: flex;
    flex-direction: row;
}
body .model_container14 .model14 i{
    transition: transform .3s;
}
body .model_container14 .model14 i:hover{
    transform: rotate(180deg);
}

body .page .listt{
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffffff;
    display: none;
    z-index: 100;
}
body .info .fontt{
    width: 48%;
}
body .info .imgg{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body .page .info .imgg .for_m{
    display: none;
}
header{
    display: none;
    width: 100%;
    background-color: #2b446a;
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
header ul li{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
header ul li a{
    color: #ffffff;
    text-decoration: none;
    
}
@media only screen and (max-width:910px){
    body .page .list{
        display: none;
    }
    body .page .listt{
        display: block !important;
    }
    body .page .info{
        display: flex;
        flex-direction: column-reverse;
    }
    body .page .info .fontt{
        width: 100%;
    }
    body .page .info .imgg{
        width: 100%;
    }
    body .page .info .imgg .for_m{
        display:block !important;
    }
    body .page .info .imgg .for_m img{
        width: 100%;
    }
    body .info .for_pc{
        display:none;
    }
    #menu{
        overflow: hidden;
        transition: 0.5s;
    }
    body .page .info .bm{
        display: none;
    }
    /*
    body .page .info .bpc{
        display: none;
    }
    */
    body .page .info .fontt h1{
        margin-top: 10px;
    }
    body .model_container14 .model14{
        width: 80%;
        position: absolute;
        top: 50px;
    }
    body .model_container14 .model14 .c141{
        flex-direction: column-reverse;
    }
    body .model_container14 .model14 .c141 img{
        margin-top: 15px;
        width: auto;
    }
    body .model_containerh .modelh{
        width: 80%;
        position: absolute;
        top: 50px;
    }
    body .model_containerh .modelh .ch{
        flex-direction: column-reverse;
    }
    body .model_containerh .modelh .ch img{
        margin-top: 15px;
        width: auto;
    }
    body .model_container .model img{
        filter: grayscale(0%);
    }
}